@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&family=Readex+Pro:wght@200;600&family=Roboto:wght@100;500;700&family=Ubuntu:wght@300;500;700&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}


/* Opening Section */
.opening-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('assets/grass-op.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #b33525;
    text-shadow: 1px 1px 7px rgba(0,0,0,1);
}


.title-img{
    width: 20%;
    height: 35%;
    margin: 50px 0 20px 0;
}

.title-img img {
    width: 100%;
    height: 100%;
}

.opening-container h1{
    font-size: 7rem;
    margin-bottom: 140px;
}

.opening-container button{
    padding: 20px 80px;
    background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.opening-container button:active{
    transform: scale(.98);
}

/* End of Opening Section */




/* Main Section */
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('assets/bg-nature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.score, .time{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score{
    width: 20%;
    height: 100%;
    justify-content: center;
}

.score h1{
    font-size: 3rem;
    color: #b33525;
}

.score span{
    font-size: 3rem;
}

.time{
    align-self: flex-end;
    width: 20%;
    height: 100%;
    justify-content: flex-end;
}

.time h1{
    font-size: 3rem;
    color: #b33525;
}

.time .limit{
    display: block;
    font-size: 3rem;
    margin-bottom: 200px;
}

.time button{
    border: none;
    outline: none;
    padding: 20px 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    color: #fff;
}

.time button:active{
    transform: scale(.98);
}

.time button span{
    margin-left: 20px;
}

.game-container{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr );
    gap: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
    perspective: 2000px;
}

.game-container .card{
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    position: relative;
    transform-style: preserve-3d;
}

.card{
    cursor: pointer;
    transition: all .7s ease;
    background-color: rgba(255,255,255,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.card.flip{
    transform: rotateY(180deg);
}

.card img{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.card .back{
    backface-visibility: hidden;
}

