@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&family=Readex+Pro:wght@200;600&family=Roboto:wght@100;500;700&family=Ubuntu:wght@300;500;700&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.opening-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url('assets/grass-op.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #b33525;
    text-shadow: 1px 1px 7px rgba(0,0,0,1);
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 30%;
}

.title .title-img{
    width: 20%;
    height: 100%;
}

.title-img img{
    width: 100%;
    height: 100%;
}

.title h1{
    font-size: 6rem;
}

.opening-container button{
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 30px 80px;
    border-radius: 20px;
    background: linear-gradient(to right, #fdc830, #f37335);;
    color: #fff;
    cursor: pointer;
}

.opening-container button:active{
    transform: scale(.98);
}